

.coolors-wrapper {
    text-align: center;
    width: calc(100% - 2em);
    margin-left: 2em;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.coolor-wrapper {
    display: flex;
    flex-direction: column;
}

.coolor-texture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    position: relative;
    height: 0;
    padding-bottom: 100%;
}

.coolor-texture:hover .icon {
    opacity: 1;
}

.texture-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1.8em;
    margin-top: 100%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 0.25em;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: opacity 300ms;
}

.icon:hover, .icon-checked {
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.icon-checked {
    color: rgb(221, 144, 57);
    opacity: 1 !important;
}

.delete-icon:hover {
    color: rgb(216, 61, 61);
}

.drag-icon:hover {
    color: rgb(92, 179, 230);
}

.rotated-icon {
    transform: rotate(45deg);
}

.colors {
    transition: height 200ms;
}

.color {
    height: 25%;
}

.colors:hover .color {
    height: 25% !important;
    margin-top: 0px;
}

.colors:hover .coolor-name {
    display: none;
}

.is-light .coolor-hex {
    color: #000 !important;
}

.is-light .coolor-name {
    color: #111 !important;
}

.coolor-menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coolor-hex {
    font-size: 1.8em;
    font-family: GothamBold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 3px;
    color: rgba(255, 255, 255, 1)
}

.coolor-name {
    text-transform: capitalize;
    color: #eaeaea;
}


.add-color-container-hover {
    opacity: 1 !important;
}

.add-color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 4px;
    font-size: 3em;
    opacity: 0;
    cursor: pointer;
    transition: opacity 300ms;
}

.add-color-container:first {
    display: none;
}
