.sidebar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top-right-radius: 20px;
    border-right: 3em solid var(--5);
    padding: 3em;
    background: white;
    z-index: 9999;
    transform: translateX(calc(-100% + 3em)); /*calc(-100% + 3em)*/
    transition: transform 200ms;
}

.sidebar-wrapper:hover {
    transform: translateX(0%);
}

.bar-icon {
    font-size: 2em;
    border-radius: 5px;
    border: 3px solid var(--5);
    color: var(--5);
    padding: 10px;
}

.bar-icon:hover {
    color: var(--4);
    border-color: var(--4);
    border-width: 5px;
    padding: 8px;
    cursor: pointer;
}

.bar-icon:active {
    color: var(--8);
    border-color: var(--9);
    font-size: 1.8em;
    margin: 0em 0.05em;
}

.param-icon {
    font-size: 2em;
    color: white;
    position: absolute;
    top: 50%;
    left: 360px;
    transform: translate(3em, -200%)
}

.move-updates {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bar-coolors {
    width: 100%;
    margin: 40px 0px;
}

.bar-coolor {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin: 10px 0px;
    font-size: 1.1em;
    color: var(--5);
    font-family: GothamBold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main-color {
    min-width: 2.5em;
    min-height: 2.5em;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}
